<div class="mainbody">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="list-group">
          <%= render partial: "shared/loan_show", locals: { lr:@loan_request, side:@side } %>
        </div>
      </div>
    </div>
  </div>
</div>
