<header class="header">
  <div class="container">
    <%= image_tag "thrivelogo", height: "100px" %>
      <ul class="nav navbar-nav navbar-right navbar-collapse collapse">
        <li><a href="#">View Loans</a></li>
        <li><a href="#">Create Loan</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="#">Register</a></li>
      </ul>
  </div>
</header>
