<div class="mainbody">
  <div class="container">
    <div class="block grey-lighter">
      <div class="wrap">
        <h2>Basic Loan Calculation</h2>
        <div class="calculator-loan">
  				<div class="thirty form">
  				</div>
  				<div class="thirty">
  					<p><label>Results:</label></p>
  					<div class="results"></div>
  				</div>
  			</div>
  			<div class="clear"></div>
