<div class="mainbody">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2><%= current_user.username.capitalize %>'s Contracts</h2>
      </div>
    </div>
    <%= render partial: "user/contracts/contracts", locals: { contracts: @b_contracts, request_or_offer: "offer", lender: "Borrower"} %>
    <%= render partial: "user/contracts/contracts", locals: { contracts: @l_contracts, request_or_offer: "request", lender: "Lender"} %>
  </div>
</div>
